@{
    ViewData["Title"] = "Awesome Application";
}


<h1>Awesome Application</h1>

<article class="slideshow"></article>



@section css{
    <link rel="stylesheet" href="~/css/ppt.css" />
    <link rel="stylesheet" href="~/css/ppt-icon-font.css" />
}

@section Scripts{
    <link rel="stylesheet" href="~/js/ppt.js" />
    <link rel="stylesheet" href="~/js/home.js" />
}